<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.service.sys.sysAdminLog.SysAdminLogMapper">

    <select id="page" resultType="com.hfw.model.po.sys.SysAdminLog">
        select
        id,
        title,
        method,
        account,
        request_url,
        request_ip,
        request_body,
        request_header,
        response,
        state,
        message,
        times,
        request_time
        from sys_admin_log
        <where>
            <if test="po.id!=null">
                and id=#{po.id}
            </if>
            <if test="po.title!=null and po.title!=''">
                and title=#{po.title}
            </if>
            <if test="page.params.title_like!=null and page.params.title_like!=''">
                and title like concat(#{page.params.title_like},'%')
            </if>
            <if test="po.account!=null and po.account!=''">
                and account=#{po.account}
            </if>
            <if test="page.params.account_like!=null and page.params.account_like!=''">
                and account like concat(#{page.params.account_like},'%')
            </if>
            <if test="po.requestIp!=null and po.requestIp!=''">
                and request_ip=#{po.requestIp}
            </if>
            <if test="page.params.requestIp_like!=null and page.params.requestIp_like!=''">
                and request_ip like concat(#{page.params.requestIp_like},'%')
            </if>
            <if test="po.state!=null">
                and state=#{po.state}
            </if>
            <if test="page.params.times_gt!=null and page.params.times_gt!=''">
                and times &gt;= #{page.params.times_gt}
            </if>
            <if test="page.params.requestTime_lt!=null and page.params.requestTime_lt!=''">
                and request_time &lt;= #{page.params.requestTime_lt}
            </if>
            <if test="page.params.requestTime_gt!=null and page.params.requestTime_gt!=''">
                and request_time &gt;= #{page.params.requestTime_gt}
            </if>
        </where>
        <if test="page.sortByField!=null and page.sortByWay!=null">
            order by ${page.sortByField} ${page.sortByWay}
        </if>
    </select>

</mapper>
