<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.service.sys.sysLoginLog.SysLoginLogMapper">

    <select id="page" resultType="com.hfw.model.po.sys.SysLoginLog">
        select
        id,
        account,
        ip,
        location,
        browser,
        os,
        message,
        login_time,
        state,
        online_flag,
        logout_type,
        logout_time,
        token
        from sys_login_log
        <where>
            <if test="po.id!=null">
                and id=#{po.id}
            </if>
            <if test="po.account!=null and po.account!=''">
                and account=#{po.account}
            </if>
            <if test="page.params.account_like!=null and page.params.account_like!=''">
                and account like concat(#{page.params.account_like},'%')
            </if>
            <if test="po.ip!=null and po.ip!=''">
                and ip=#{po.ip}
            </if>
            <if test="page.params.ip_like!=null and page.params.ip_like!=''">
                and ip like concat(#{page.params.ip_like},'%')
            </if>
            <if test="po.location!=null and po.location!=''">
                and location=#{po.location}
            </if>
            <if test="page.params.location_like!=null and page.params.location_like!=''">
                and location like concat(#{page.params.location_like},'%')
            </if>
            <if test="page.params.loginTime_lt!=null and page.params.loginTime_lt!=''">
                and login_time &lt;= #{page.params.loginTime_lt}
            </if>
            <if test="page.params.loginTime_gt!=null and page.params.loginTime_gt!=''">
                and login_time &gt;= #{page.params.loginTime_gt}
            </if>
            <if test="po.state!=null">
                and state=#{po.state}
            </if>
            <if test="po.onlineFlag!=null">
                and online_flag=#{po.onlineFlag}
            </if>
            <if test="po.logoutType!=null">
                and logout_type=#{po.logoutType}
            </if>
            <if test="page.params.logoutTime_lt!=null and page.params.logoutTime_lt!=''">
                and logout_time &lt;= #{page.params.logoutTime_lt}
            </if>
            <if test="page.params.logoutTime_gt!=null and page.params.logoutTime_gt!=''">
                and logout_time &gt;= #{page.params.logoutTime_gt}
            </if>
        </where>
        <if test="page.sortByField!=null and page.sortByWay!=null">
            order by ${page.sortByField} ${page.sortByWay}
        </if>
    </select>

</mapper>
