<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.admin.mapper.SysDemoMapper">

    <select id="list" resultType="com.hfw.model.entity.SysDemo">
        select
        id
        ,name
        ,age
        ,score
        ,gender
        ,state
        ,interest
        ,birth
        ,regist_time
        ,avatar
        ,photos
        ,attachment
        ,introduction
        ,detail
        ,phone
        ,location
        ,lng
        ,lat
        ,file_input
        from sys_demo
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="name_like!=null and name_like!=''">
                and name like concat('%',#{name_like},'%')
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
            <if test="score!=null">
                and score=#{score}
            </if>
            <if test="gender!=null">
                and gender=#{gender}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
            <if test="interest!=null and interest!=''">
                and interest=#{interest}
            </if>
            <if test="interest_like!=null and interest_like!=''">
                and interest like concat('%',#{interest_like},'%')
            </if>
            <if test="birth!=null">
                and birth=#{birth}
            </if>
            <if test="birth_lt!=null">
                and birth &lt;= #{birth_lt}
            </if>
            <if test="birth_gt!=null">
                and birth &gt;= #{birth_gt}
            </if>
            <if test="registTime!=null">
                and regist_time=#{registTime}
            </if>
            <if test="registTime_lt!=null">
                and regist_time &lt;= #{registTime_lt}
            </if>
            <if test="registTime_gt!=null">
                and regist_time &gt;= #{registTime_gt}
            </if>
            <if test="avatar!=null and avatar!=''">
                and avatar=#{avatar}
            </if>
            <if test="avatar_like!=null and avatar_like!=''">
                and avatar like concat('%',#{avatar_like},'%')
            </if>
            <if test="photos!=null and photos!=''">
                and photos=#{photos}
            </if>
            <if test="photos_like!=null and photos_like!=''">
                and photos like concat('%',#{photos_like},'%')
            </if>
            <if test="attachment!=null and attachment!=''">
                and attachment=#{attachment}
            </if>
            <if test="attachment_like!=null and attachment_like!=''">
                and attachment like concat('%',#{attachment_like},'%')
            </if>
            <if test="introduction!=null and introduction!=''">
                and introduction=#{introduction}
            </if>
            <if test="introduction_like!=null and introduction_like!=''">
                and introduction like concat('%',#{introduction_like},'%')
            </if>
            <if test="detail!=null and detail!=''">
                and detail=#{detail}
            </if>
            <if test="detail_like!=null and detail_like!=''">
                and detail like concat('%',#{detail_like},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and phone=#{phone}
            </if>
            <if test="phone_like!=null and phone_like!=''">
                and phone like concat('%',#{phone_like},'%')
            </if>
            <if test="location!=null and location!=''">
                and location=#{location}
            </if>
            <if test="location_like!=null and location_like!=''">
                and location like concat('%',#{location_like},'%')
            </if>
            <if test="lng!=null">
                and lng=#{lng}
            </if>
            <if test="lat!=null">
                and lat=#{lat}
            </if>
            <if test="fileInput!=null and fileInput!=''">
                and file_input=#{fileInput}
            </if>
            <if test="fileInput_like!=null and fileInput_like!=''">
                and file_input like concat('%',#{fileInput_like},'%')
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

</mapper>