<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.service.sys.sysOrganization.SysOrganizationMapper">

    <select id="orgTreeList" resultType="com.hfw.model.po.sys.SysOrganization">
        select * from sys_organization
        where ancestors like concat(#{ancestors},',%')
        <if test="state!=null">
            and state=#{state}
        </if>
        order by sort
    </select>

</mapper>
