<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.AppAdviceMapper">

    <select id="list" resultType="com.hfw.basesystem.dto.AppAdviceDTO">
        select a.*,
            u.nickname user_nickname,u.phone user_phone, u.avatar user_avatar
        from app_advice a
        left join app_user u on a.user_id=u.id
        <where>
            <if test="id!=null">
                and a.id=#{id}
            </if>
            <if test="userId!=null">
                and a.user_id=#{userId}
            </if>
            <if test="category!=null and category!=''">
                and a.category=#{category}
            </if>
            <if test="category_like!=null and category_like!=''">
                and a.category like concat('%',#{category_like},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and a.phone=#{phone}
            </if>
            <if test="phone_like!=null and phone_like!=''">
                and a.phone like concat('%',#{phone_like},'%')
            </if>
            <if test="createTime_lt!=null">
                and a.create_time &lt;= #{createTime_lt}
            </if>
            <if test="createTime_gt!=null">
                and a.create_time &gt;= #{createTime_gt}
            </if>
            <if test="readFlag!=null and readFlag>=0">
                and a.read_flag = #{readFlag}
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by a.${sortByField} ${sortByWay}
        </if>
    </select>

    <update id="batchRead">
        update app_advice set read_flag=1 where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>