<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.AppBannerMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.AppBanner">
        select
            id
            ,title
            ,picture
            ,type
            ,target_id
            ,create_time
            ,update_time
        from app_banner
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="title!=null and title!=''">
                and title=#{title}
            </if>
            <if test="title_like!=null and title_like!=''">
                and title like concat('%',#{title_like},'%')
            </if>
            <if test="picture!=null and picture!=''">
                and picture=#{picture}
            </if>
            <if test="picture_like!=null and picture_like!=''">
                and picture like concat('%',#{picture_like},'%')
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
            <if test="targetId!=null">
                and target_id=#{targetId}
            </if>
            <if test="createTime!=null">
                and create_time=#{createTime}
            </if>
            <if test="createTime_lt!=null">
                and create_time &lt;= #{createTime_lt}
            </if>
            <if test="createTime_gt!=null">
                and create_time &gt;= #{createTime_gt}
            </if>
            <if test="updateTime!=null">
                and update_time=#{updateTime}
            </if>
            <if test="updateTime_lt!=null">
                and update_time &lt;= #{updateTime_lt}
            </if>
            <if test="updateTime_gt!=null">
                and update_time &gt;= #{updateTime_gt}
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

</mapper>