<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.AppVersionMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.AppVersion">
        select
            id
            ,device
            ,version
            ,description
            ,download_url
        from app_version
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="device!=null">
                and device=#{device}
            </if>
            <if test="version!=null and version!=''">
                and version=#{version}
            </if>
            <if test="version_like!=null and version_like!=''">
                and version like concat('%',#{version_like},'%')
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

</mapper>