<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.SysAdminLogMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.SysAdminLog">
        select
            id
            ,title
            ,method
            ,account
            ,request_url
            ,request_ip
            ,request_body
            ,request_header
            ,response
            ,state
            ,message
            ,times
            ,request_time
        from sys_admin_log
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="title!=null and title!=''">
                and title=#{title}
            </if>
            <if test="title_like!=null and title_like!=''">
                and title like concat('%',#{title_like},'%')
            </if>
            <if test="account!=null and account!=''">
                and account=#{account}
            </if>
            <if test="account_like!=null and account_like!=''">
                and account like concat('%',#{account_like},'%')
            </if>
            <if test="requestIp!=null and requestIp!=''">
                and request_ip=#{requestIp}
            </if>
            <if test="requestIp_like!=null and requestIp_like!=''">
                and request_ip like concat('%',#{requestIp_like},'%')
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
            <if test="times_gt!=null">
                and times &gt;= #{times_gt}
            </if>
            <if test="requestTime_lt!=null">
                and request_time &lt;= #{requestTime_lt}
            </if>
            <if test="requestTime_gt!=null">
                and request_time &gt;= #{requestTime_gt}
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

</mapper>