<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.SysGenTableMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.SysGenTable">
        select
            id
            ,table_name
            ,table_remark
        from sys_gen_table
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="tableName!=null and tableName!=''">
                and table_name=#{tableName}
            </if>
            <if test="tableName_like!=null and tableName_like!=''">
                and table_name like concat('%',#{tableName_like},'%')
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

</mapper>