<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.SysLoginLogMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.SysLoginLog">
        select
            id
            ,account
            ,ip
            ,location
            ,browser
            ,os
            ,message
            ,login_time
            ,state
            ,online_flag
            ,logout_type
            ,logout_time
            ,token
        from sys_login_log
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="account!=null and account!=''">
                and account=#{account}
            </if>
            <if test="account_like!=null and account_like!=''">
                and account like concat('%',#{account_like},'%')
            </if>
            <if test="ip!=null and ip!=''">
                and ip=#{ip}
            </if>
            <if test="ip_like!=null and ip_like!=''">
                and ip like concat('%',#{ip_like},'%')
            </if>
            <if test="location!=null and location!=''">
                and location=#{location}
            </if>
            <if test="location_like!=null and location_like!=''">
                and location like concat('%',#{location_like},'%')
            </if>
            <if test="loginTime_lt!=null">
                and login_time &lt;= #{loginTime_lt}
            </if>
            <if test="loginTime_gt!=null">
                and login_time &gt;= #{loginTime_gt}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
            <if test="onlineFlag!=null">
                and online_flag=#{onlineFlag}
            </if>
            <if test="logoutType!=null">
                and logout_type=#{logoutType}
            </if>
            <if test="logoutTime_lt!=null">
                and logout_time &lt;= #{logoutTime_lt}
            </if>
            <if test="logoutTime_gt!=null">
                and logout_time &gt;= #{logoutTime_gt}
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

    <update id="logout">
        update sys_login_log set online_flag=0,logout_type=2,logout_time=now() where token in
        <foreach collection="tokens" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="pushedOff">
        update sys_login_log set online_flag=0,logout_type=3,logout_time=now() where token = #{pushedOffToken}
    </update>

</mapper>