<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.basesystem.mapper.SysRoleMapper">

    <select id="list" resultType="com.hfw.basesystem.entity.SysRole">
        select
            id
            ,name
            ,code
            ,sort
            ,state
            ,creator
            ,create_time
            ,updator
            ,update_time
            ,remark
        from sys_role
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="name_like!=null and name_like!=''">
                and name like concat('%',#{name_like},'%')
            </if>
            <if test="code!=null and code!=''">
                and code=#{code}
            </if>
            <if test="code_like!=null and code_like!=''">
                and code like concat('%',#{code_like},'%')
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
            <if test="creator!=null and creator!=''">
                and creator=#{creator}
            </if>
            <if test="createTime_lt!=null">
                and create_time &lt;= #{createTime_lt}
            </if>
            <if test="createTime_gt!=null">
                and create_time &gt;= #{createTime_gt}
            </if>
            <if test="updator!=null and updator!=''">
                and updator=#{updator}
            </if>
            <if test="updateTime_lt!=null">
                and update_time &lt;= #{updateTime_lt}
            </if>
            <if test="updateTime_gt!=null">
                and update_time &gt;= #{updateTime_gt}
            </if>
        </where>
        <if test="sortByField!=null and sortByWay!=null">
            order by ${sortByField} ${sortByWay}
        </if>
    </select>

    <select id="users" resultType="com.hfw.basesystem.entity.SysUser">
        select u.* from sys_user u join sys_user_role r on u.id=r.user_id
        where r.role_id=#{roleId}
        <if test="account_like!=null and account_like!=''">
            and u.account like concat('%',#{account_like},'%')
        </if>
        <if test="phone_like!=null and phone_like!=''">
            and u.phone like concat('%',#{phone_like},'%')
        </if>
        <if test="nickname_like!=null and nickname_like!=''">
            and u.nickname like concat('%',#{nickname_like},'%')
        </if>
        order by r.id desc
    </select>

</mapper>