<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfw.service.sys.sysDictionary.SysDictionaryMapper">

    <update id="updateParentChildrenNum">
        update sys_dictionary set children_num =
        ( select cnt from (select count(id) cnt from sys_dictionary where state=1 and pid=${pid}) tmp)
        where id = ${pid}
    </update>

</mapper>
